@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Courgette&family=Caveat:wght@500&family=Copse:wght@400&family=Dosis&display=swap');
@import url('Gelato/Gelato.ttf');

@font-face {
  font-family: 'gelatoregular';
  src: url('gelato-webfont.woff2') format('woff2'),
       url('gelato-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: "Gelato";
  src: url("gelato-webfont.woff");
  src:url("gelato-webfont.woff2");
  font-family: "Sugar-Donut";
  src:url("sugar_donut_line-webfont.woff");
  src:url("sugar_donut_line-webfont.woff2");
}

@media only screen and (max-width: 1300px) {
  .store_description{
    flex-direction: column;
    font-weight: 100;
    font-size: 8px;
    line-height: 1rem;
    height:50%;
    }
}


@media only screen and (max-width: 1300px) {
  .frappes_outside{
    flex-direction: column;
    height:45%;
    width:75%;
    margin: auto;
  }
}

@media only screen and (max-width: 900px) {
  #front_of_store{
    height: 75vh;
    margin:auto;
  }
}

@media only screen and (max-width: 1400px) {
  #welcome:first-child {
    font-size:10ch;
  }
}


@media only screen and (max-width: 1200px) {
  #welcome:first-child {
    font-size:8ch;
  }
}

@media only screen and (max-width: 1000px) {
  #welcome:first-child {
    font-size:6ch;
  }
}

@media only screen and (max-width: 800px) {
  #welcome:first-child {
    font-size:4.5ch;
  }
}

@media only screen and (max-width: 900px) {
  .store_description p{
    flex-direction: column;
    font-weight: 100;
    font-size: 2rem;
    line-height: 4rem;
    width: 80%;
    margin:auto;
  }
  .store_description img{
    width: 85%;
  }
}

@media only screen and (max-width: 900px){
  #hot_food_details{
    display: flex;
    flex-wrap: wrap;
    margin:auto;
}
  #veggie_option{
    display: flex;
    flex-wrap: wrap;
    width:75%;
    margin:auto;
  }

  .flex-container-2{
    display: flex;
    flex-wrap: wrap;
    margin:auto;
    
    width:75%;
  }
}

@media only screen and (max-width: 900px){
  .flex-container-3{
    display: flex;
    flex-wrap: wrap;
    margin:auto;
    
    width:85%;
  }

  #soldoutdetails{
    font-size: 1.25em;
    line-height: 1em;
  }
}

@media only screen and (max-width: 900px){
  .carousel-control-prev-icon {
    background-image: url("cd_pics/clear-donut.png");
    font-size: .55rem;
    border-radius: 50%;
    position: absolute;
  }
}


@media only screen and (max-width: 900px) {
  
  #map-container{
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    text-align: center;
  }
  #map{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin: auto;
    text-align: center;
  }
  #location-description{
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
}


@media only screen and (max-width: 600px){
 .carousel-control-next-icon{
    background-image: url("cd_pics/clear-donut.png");
    font-size: .55rem;
    border-radius: 50%;
    position: absolute;
  }
}

@media only screen and (max-width: 900px){
  
  #about_family{
    display: flex;
    flex-wrap: wrap;
    margin:auto;
    width:100%;
    
  }
  
  .fam_photo{
    width: 100%;
    text-align: center;
    justify-content: center;
  }
  .family_section {
    display: flex;
    flex-wrap: wrap;
    margin:auto;
    width: 100%;
    text-align: center;
    justify-content: center;
    }
  .family_section_description_1 {
    display: flex;
    flex-wrap: wrap;
    font-size: 1em;
    text-align: center;
    margin:auto;
    width: 55%;
    float: none;
    text-align: center;
    justify-content: center;
  }
  .family_section_description_2 {
    display: flex;
    flex-wrap: wrap;
    font-size: 1em;
    text-align: center;
    margin:auto;
    width: 45%;
    float: none;
    text-align: center;
    justify-content: center;
  }
}

@media only screen and (max-width:900px){
  .hours_container{
    display: flex;
    flex-flow: column wrap;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }
  .hours_details{
    display: flex;
    flex-direction: column;
  }
  .hours_image{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 35vw;
  }
  .store_hours{
    display: flex;
    flex-direction: column;
    width: 50vw;
  }
}

@media only screen and (max-width: 900px) {
  #donuts_menu_container{
    display: grid;
    width: 100%;
  }
  #menu_items{
    display: grid;
    grid-template-columns: 50%;
    margin: auto;
    width: 1vw;
    max-width: 100%;
    max-width: fit-content;
    
  }
  .donuts_menu{
    display: grid;
    width: 1rem;
    width: 100%;
    text-align: center;
  }

  .card-text {
    display: grid;
    width: 100%;
    text-align: center;
  }

  

  .pricing{
    display: grid;
    font-size: 2ch;
    width: 10rem;
  }
}

.icon-bar { margin-left: auto; 
  margin-right: auto; 
}

.navbar-brand {
    height: 5.5rem;
    width: 5.5rem;
    border-radius: 55%;
}


.navbar-nav{
    margin: auto;
    font-size: 2.5rem;
    font-family: 'Caveat', cursive, Arial, Helvetica, sans-serif;
    
}


.navbar{
  background-color: #e05875;
  opacity:.95;
  margin:3px;
}


.nav-link{
    padding: 0 15rem 0 0;
    color:#75d885;
    
}

.nav-item{
    margin-right: 3.5rem;
    
}

.container1{
  position: relative;
  
}


#welcome{
  position: absolute;
  text-align: center;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 1.5%;
  z-index: 10;
  color:#e05875;
  opacity: .95;
  font-weight: bold;
  font-size: 6rem;
  width:100%;
  font-family:"Sugar-Donut",Verdana, Geneva, Tahoma, sans-serif;
}

#front_of_store {
  display: block;
  width: 93%;
  margin: 2.5rem auto;
  z-index: 10;
}


.store_description{
  display: flex;
  position: relative;
  text-align: center;
  font-size:  3.8ch;
  color: rgb(255, 255, 255);
  background-color: #ee738e;
  font-weight: 500;
  max-width: 90%;
  z-index: 100;
  margin: 3rem auto;
  left: 0;
  right: 0;
  bottom: .5%;
  line-height: 7ch;
  height: 50%;
}


.frappes_outside{
  height:15em;
  width: 50%;
  margin:auto;
}

body{
  overflow: none;
}

.flex-container-2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10rem auto;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  width: 95%;
  max-width: max-content;
  background-color: #86e395;
  font-weight: 400;
}


#veggie_option{
  display: flex;
  flex-direction: row;
  margin: auto;
  max-width: 1500px;
  width:100%;
}


#hot_food_details{
  display: flex;
  flex-direction: row;
  font-size: 2em;
  margin: auto;
  text-align: center;
  font-family: Dosis,Arial, Helvetica, sans-serif;
  }


 .navbar-toggler-icon {
  background-image: url(
  "data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(217, 39, 131)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M3 8h54M2 16h46M4 24h24'/%3E%3C/svg%3E");
}



.nav-link:hover {
  color:white;
  
}

.custom-toggler.navbar-toggler {
  border-color: #86e395;
  border-radius: 50%;
  border-width: 3px;
  padding: 5%;
} 

  .fade {
    opacity: 0;
    -webkit-transition-duration: 5s;
    transition-duration: 5s;
}

  .carousel{
    width: 100vw;
    height: 85vh;
    margin: auto;
  }


  

  .carousel-control-prev-icon{
    background-image: url("cd_pics/clear-donut.png");
    width:7em;
    height: 6em;
    position: absolute;
  }
  
  
  
  
  
  .carousel-control-next-icon{
    background-image: url("cd_pics/clear-donut.png");
    width:7em;
    height: 6em;
    position: absolute;
  }


  .d-block{
    height: 100vh;
    width: 7vw;
  }

  .fam_photo{
    display: flex;
    flex-direction: row;
    margin: auto ;
    object-fit: fill;
    border-radius: 25%;
    border-style: solid;
    border-color: rgb(157, 79, 23);
    box-shadow: 10px 10px 10px 10px #888888;
    text-align: center;
    justify-content: center;
  }


  #family_section_description_1 {
  display: flex;
  flex-direction: row;
  font-size: 1.65em;
  line-height: 2.35em;
  margin: auto;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10%;
  }

  #family_section_description_2{
    display: flex;
    flex-direction: row;
    font-size: 1.75em;
    line-height: 2.35em;
    margin: auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10%;
  }
  
  #about_family{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10rem auto;
    font-family: "Dosis";
    max-width: max-content;
    
  }

  #map-container{
    display: flex;
    flex-direction: row;
    margin: 3rem 2rem;
    text-align: center;
  }

  #our-location{
    text-align: center;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  /* Set the size of the div element that contains the map */
#map {
  display: flex;
  flex-direction: row;
  height: 400px; /* The height is 400 pixels */
  width: 55%; /* The width is the width of the web page */
  margin: auto ;
}

#location-description{
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: auto ;
  text-align: center;
  
  font-size: 1.25em;
  line-height: 2em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: oblique;
}

#soldout{
  display: flex;
    flex-wrap: wrap;
    width:75%;
    margin:2rem auto;
}

#reallysoldout{
  display:flex;
  flex-wrap: wrap;
  width:85%;
  margin: 2rem auto;
}

#sold_out_details{
  display: flex;
  flex-direction: row;
  font-size: 2em;
  line-height: 2.5em;
  margin: auto;
  text-align: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ee738e;
  border-radius: 10%;
}


.flex-container-3{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10rem auto;
  font-family: "Dosis";
  width: 95%;
  max-width: max-content;

}

hr {
  border-style: solid;
  margin:0;
  border-width: 1px;
}

#hours_title{
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.hours_image{
  justify-content: center;
  margin: 5rem ;
  width: 100%;
  flex:50%;
}

.hours_container{
  display: flex;
  flex-direction: row;
  margin: auto;
}

.store_hours{
  display: flex;
  max-width: 100%;
  height: 75vh;
  margin: auto;
}

.hours_details{
  display: flex;
  text-align: center;
  justify-content: center;
  flex:50%;
  margin:auto;
  font-size: 3ch;
  font-weight: 900;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(242, 240, 240);
}



#menu_title{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 1.25rem auto;
  text-align: center;
}

#menu_hr{
  margin: 1.5rem auto; 
  width: 15%; 
  color: rgba(217, 39, 131);
  
}

#donuts_menu_container{
  display: grid;
  width: 100%;
  justify-content: center;
}

.donuts_menu{
  width:100%;
  max-width: fit-content;
  margin: auto ;
  grid-column-start: 1;
  grid-column-end: 3;
  
}

#menu_items{
  display: grid;
  grid-template-columns:  1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin: auto;
  width: 100%;
  justify-content: center;
}

 ul.pricing{
  text-align:center;
  padding: 1em;
}

#menu_items_subs{
  display: grid;
  grid-template-columns:  1fr 1fr 1fr;
  margin: auto;
  width: 100%;
  max-width: fit-content;
}





#menu_items_frapps{
  display: grid;
  grid-template-columns:  1fr;
  margin: auto;
  width: 100%;
}


.card{
  display: grid;
  width: 100%;
  width: auto;
  background-color: rgb(244, 240, 240);
  background: none;
  border: none;
  justify-content: center;
  margin:auto;
  align-items:center;
}

img.card-img-top{
  min-width: 30% !important;
}

.cinn_twist{
  border-radius: 30%;
  max-width: 30vw !important;
  min-width:20%;
  margin: auto;
}
.card-text{
  text-align: center;
  justify-content: center;
  font-size: 1.23em;
  margin:auto;
  
}


.pricing{
  font-size: 2ch;
  width:100%;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.cocoa_pricing li{
  display: inline;
  padding: 2em;
}

.card-body{
  display: grid;
  margin: auto;
  max-width: fit-content;
}

.card-img-top{
  max-width: max-content;
  width: 39%;
  
  margin: auto;
  text-align: center;
  padding:auto;
  justify-content: center;
  }

footer{
  position: sticky;
  margin:auto;
  padding:1.25rem;
  text-align: center;
  background-color: #86e395;
  color:#d4788c;
}